# HW_9

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-10-08/ipf_lifts.csv')
df

,name,sex,event,equipment,age,age_class,division,bodyweight_kg,weight_class_kg,best3squat_kg,best3bench_kg,best3deadlift_kg,place,date,federation,meet_name
0,Hiroyuki Isagawa,M,SBD,Single-ply,NaN,NaN,NaN,67.5,67.5,205.0,140.0,225.0,1,1985-08-03,IPF,World Games
1,David Mannering,M,SBD,Single-ply,24.0,24-34,NaN,67.5,67.5,225.0,132.5,235.0,2,1985-08-03,IPF,World Games
2,Eddy Pengelly,M,SBD,Single-ply,35.5,35-39,NaN,67.5,67.5,245.0,157.5,270.0,3,1985-08-03,IPF,World Games
3,Nanda Talambanua,M,SBD,Single-ply,19.5,20-23,NaN,67.5,67.5,195.0,110.0,240.0,4,1985-08-03,IPF,World Games
4,Göran Henrysson,M,SBD,Single-ply,NaN,NaN,NaN,67.5,67.5,240.0,140.0,215.0,5,1985-08-03,IPF,World Games
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41147,Chien-Hsiung Chao,M,B,Single-ply,NaN,NaN,Open,126.5,125+,NaN,202.5,NaN,12,1995-06-25,IPF,World Bench Press Championships
41148,Oleg Gordynetz,M,B,Single-ply,NaN,NaN,Open,137.5,125+,NaN,202.5,NaN,13,1995-06-25,IPF,World Bench Press Championships
41149,Clive Lambert,M,B,Single-ply,31.5,24-34,Open,142.2,125+,NaN,202.5,NaN,14,1995-06-25,IPF,World Bench Press Championships
41150,Peter Brath,M,B,Single-ply,21.5,20-23,Open,125.5,125+,NaN,180.0,NaN,15,1995-06-25,IPF,World Bench Press Championships
41151,Valery Sidorenko,M,B,Single-ply,38.5,35-39,Open,142.0,125+,NaN,NaN,NaN,DQ,1995-06-25,IPF,World Bench Press Championships

2.Find the record of each gender and each division in each of the 3 lifts (bench press,squat and deadlift).

In [3]:
df_record = df.groupby(by=['division', 'sex'])[['best3squat_kg','best3bench_kg', 'best3deadlift_kg']].agg(['max'])
df_record

                best3squat_kg best3bench_kg best3deadlift_kg
                          max           max              max
division    sex
Heavy       F           305.0         192.5            248.5
            M           432.0         330.0            382.5
Juniors     F           282.5         190.5            252.5
            M           450.0         375.0            377.5
Light       F           220.0         150.0            202.5
            M           325.5         217.5            315.0
Masters 1   F           245.0         197.5            248.0
            M           405.0         345.0            395.0
Masters 2   F           255.0         172.5            227.5
            M           365.0         310.5            335.0
Masters 3   F           210.0         140.0            190.0
            M           300.0         260.0            305.0
Masters 4   F           135.0         115.0            142.5
            M           235.0         220.0            260.5
Middle      F           247.5         170.0            235.0
            M           370.0         268.5            345.0
Open        F           322.5         235.0            270.5
            M           490.0         415.0            407.5
Sub-Juniors F           265.0         170.0            238.0
            M           370.0         310.0            335.0
Super       F           267.5         190.0            245.0
            M           465.0         360.0            387.5
SuperHeavy  F           310.5         205.0            247.5
            M           475.0         405.0            420.0

3.Count the number of victories of each contestant, considering a victory as winning 1stplace. Store the results in a secondary DataFrame.

In [4]:
df_victory = df. groupby('place').get_group('1')
df_group = df_victory.groupby(by=['division','name', 'sex']).agg(number_of_victories =('place', 'count'))
df_group

                                       number_of_victories
division   name                   sex
Heavy      Ana Rosa Castellain    F                      2
           Daisuke Midote         M                      1
           Larysa Soloviova       F                      1
           Lisa Sjöstrand         F                      1
           Marina Kudinova        F                      1
...                                                    ...
Super      Iryna Karpova-Yavorska F                      1
           Michael Tuchscherer    M                      1
           Olena Kozlova          F                      1
SuperHeavy Bonica Brown           F                      1
           Oleksiy Rokochyy Jr    M                      1

[3881 rows x 1 columns]

4.Use the dataframe from ex. 3 to show, for each combination of division and gender, the contestant with most victories among contestants who participated in that division at some time.

In [5]:
df_group = df_victory.groupby(by=['division','sex', 'date', 'name']).agg(number_of_victories =('place', 'count'))
df_group_sort = df_group.sort_values('number_of_victories', ascending=False)
df_group_sort

                                               number_of_victories
division   sex date       name
Masters 2  M   2019-05-18 Kohei Wada                             2
Masters 3  M   2019-05-18 Hiroyuki Isagawa                       2
Open       M   2019-05-18 Abdulkarim Karaman                     2
Masters 2  M   2019-05-18 Alexey Neveykov                        2
Masters 4  M   2019-05-18 Haruki Imaizumi                        2
...                                                            ...
Masters 2  F   2004-04-21 Aly Keizer                             1
                          Aira Knutars                           1
               2003-10-08 Tatiana Fomina                         1
                          Sue Hollands                           1
SuperHeavy M   2017-07-24 Oleksiy Rokochyy Jr                    1

[6382 rows x 1 columns]

5.Connect to the employees database and execute with pandas the last query from the SQL final project. Make sure the results are loaded to a pandas DataFrame: "6. Написать запрос, который выводит строки с дубляжами"

In [6]:
from mysql.connector import connect

In [7]:
conn = connect(host='localhost', user='root', password='vd04080811', database='employees')

In [8]:
df_2 = pd.read_sql('SELECT * FROM employees', conn)

In [9]:
df_2.columns

Index(['emp_no', 'birth_date', 'first_name', 'last_name', 'gender',
       'hire_date', 'lang_no', 'phone_number'],
      dtype='object')

In [10]:
df_2

,emp_no,birth_date,first_name,last_name,gender,hire_date,lang_no,phone_number
0,10001,1953-09-02,Georgi,Facello,M,1986-06-26,2,097741447
1,10002,1964-06-02,Bezalel,Simmel,F,1985-11-21,1,097331605
2,10003,1959-12-03,Parto,Bamford,M,1986-08-28,2,097433684
3,10004,1954-05-01,Chirstian,Koblick,M,1986-12-01,2,097173608
4,10005,1955-01-21,Kyoichi,Maliniak,M,1989-09-12,2,097566988
...,...,...,...,...,...,...,...,...
300020,499996,1953-03-07,Zito,Baaz,M,1990-09-27,2,097943188
300021,499997,1961-08-03,Berhard,Lenart,M,1986-04-21,2,097139386
300022,499998,1956-09-05,Patricia,Breugel,M,1993-10-13,2,097867366
300023,499999,1958-05-01,Sachin,Tsukuda,M,1997-11-30,2,097918672
300024,500000,1980-01-01,Jack,Vorobey,M,2021-08-07,1,0982211348

In [11]:
df_employees_dublicated = df_2.duplicated().any()
df_employees_dublicated

False